<div>
  <mat-toolbar>
    <img src="../../../assets/logo.jpg" alt="logo" />
    <h1>The Pied Piper</h1>
    <a mat-stroked-button routerLink="/pages">Pages</a>
    <a mat-stroked-button routerLink="/pages/dashboard">Dashboard</a>
    <a mat-stroked-button routerLink="/pages/gallery">Gallery</a>
    <a mat-stroked-button routerLink="/pages/crud">CRUD</a>
    <a mat-stroked-button routerLink="/pages/profile">Profile</a>
    <a mat-stroked-button (click)="logout()">Logout</a>
  </mat-toolbar>
</div>
