* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    border: 1px solid black;
}

h1 {
    padding: 1%;
}

nav {
    background-color: #1e6564;
}

ul {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    height: 120%;
    display: flex;
    flex-flow: row wrap;
    padding: 0.3%;
    background-color: #1E6564;
    color: #FFF;
    list-style: none;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #113E3E;
}

@media screen and (max-width: 722px) {
    ul {
        display: block;
    }

    .end {
        justify-content: start;
    }
}