$red: #F0123A;
$brown: #F07712;
$pink: #EE9CE4;
$blue: #3865CC;
$dark-blue: #052A81;
$light-blue: #19EAE5;
$left-shadow: -5px 5px 10px 2px #252425;
$right-shadow: 5px 5px 10px 2px #252425;
$cold-border: 5px;