@use 'colors' as c;

@mixin container-mixin-1 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;
    margin-top: 3%;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: c.$baseColor;
    }

    .base-color {
        width: 12%;
        color: c.$textColor1;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken(c.$baseColor, $i*5%);
            color: lighten(c.$textColor1, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten(c.$baseColor, $i*5%);
            color: darken(c.$textColor1, $i*5%);
        }
    }
}

@mixin container-mixin-2 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: c.$baseColor2;
    }

    .base-color {
        width: 12%;
        color: c.$textColor2;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken(c.$baseColor2, $i*5%);
            color: lighten(c.$textColor2, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten(c.$baseColor2, $i*5%);
            color: darken(c.$textColor2, $i*5%);
        }
    }
}

@mixin container-mixin-3 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: c.$baseColor3;
    }

    .base-color {
        width: 12%;
        color: c.$textColor3;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken(c.$baseColor3, $i*5%);
            color: lighten(c.$textColor3, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten(c.$baseColor3, $i*5%);
            color: darken(c.$textColor3, $i*5%);
        }
    }
}