@mixin container-mixin-1 ($baseColor, $textColor1) {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;
    margin-top: 3%;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: $baseColor;
    }

    .base-color {
        width: 12%;
        color: $textColor1;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($baseColor, $i*5%);
            color: lighten($textColor1, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($baseColor, $i*5%);
            color: darken($textColor1, $i*5%);
        }
    }
}

@mixin container-mixin-2 ($baseColor2, $textColor2) {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: $baseColor2;
    }

    .base-color {
        width: 12%;
        color: $textColor2;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($baseColor2, $i*5%);
            color: lighten($textColor2, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($baseColor2, $i*5%);
            color: darken($textColor2, $i*5%);
        }
    }
}

@mixin container-mixin-3 ($baseColor3, $textColor3) {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 90vw;
    height: 30vh;
    gap: 10px;

    .box {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 8%;
        height: 80%;
        word-break: break-word;
        background-color: $baseColor3;
    }

    .base-color {
        width: 12%;
        color: $textColor3;
    }

    .darken-4 {
        margin-left: 10%;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($baseColor3, $i*5%);
            color: lighten($textColor3, $i*5%);
        }
    }

    @for $i from 1 through 4 {
        .lighten-#{$i} {
            background-color: lighten($baseColor3, $i*5%);
            color: darken($textColor3, $i*5%);
        }
    }
}