$back-color: red;
$letter-color: white;

body {
    background-color: $back-color;
    color: $letter-color;

    .escudo {
        height: 20%;
        width: 20%;
        border-radius: 5px;
    }
}