/* BODY */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 10px;
}

/* WRAPPER MAIN SCREEN */

.wrapper-main-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* LINKS WRAPPER */

.links-wrapper {
    display: block;
    width: 100vw;
}

/* TITLE WRAPPER */

.title-wrapper {
    display: block;
    width: 100vw;
}

/* FOOTBALL SHIRTS & VIDEOGAMES*/

.footballshirts-wrapper,
.videogames-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 45vh;
    max-width: 80vw;
    width: 65vw;
    gap: 2%;
    margin-top: 2%;
}

@media (max-width: 1200px) {
    .footballshirts-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }
}