/* BODY */

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 10px;
}

/* WRAPPER MAIN SCREEN */

.wrapper-main-screen {
    max-width: 75vw;
}

/* FOOTBALL SHIRTS & VIDEOGAMES*/

.footballshirts-wrapper,
.videogames-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 45vh;
    max-width: 75vw;
    gap: 2%;
    margin-top: 2%;
}

@media (max-width: 700px) {
    .footballshirts-wrapper {
        display: block;
    }
}