<div class="card my-3">
  <img src="{{character?.img}}" class="card-img-top" alt="{{character?.name}}">
  <span class="btn btn-sm float-end">{{character?.status}}</span>
  <div class="card-body">
    <h5 class="card-title">{{character?.name}}</h5>
    <p class="card-text text-muted">{{character?.nickname}}</p>
  <div class="row text-left">
    <p class="text-muted">
      Occupation
    </p>
    <hr>
    <div *ngFor="let o of character?.occupation">
      <strong>&bull; {{o}}</strong>
    </div>
  </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
